<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>XOSS || Product Details</title>

    <!-- faviicon -->
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css slick slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reponsive.css">
</head>

<body>
    <div class="main-wrapper">
        <!-- =========== header =========== -->
        <div class="header__container">
            <!-- header - top -->
            <div class="header__navbar">
                <!-- menu destop -->
                <div class="container header__navbar-desktop">
                    <div class="row">
                        <!-- language + current -->
                        <div class="col-sm-6 col-xs-4 header__top-lanuage-cur">
                            <!-- Header Language Currency -->
                            <ul class="heade__lan-cur">
                                <!-- Header Language -->
                                <li>
                                    <a class="header__link" href="#">
                                        <i class="icon fa-solid fa-earth-asia"></i>
                                        eng
                                        <i class="icon fa-solid fa-angle-down"></i>
                                    </a>
                                    <ul class="header__sub-menu">
                                        <li><a href="#">bengali</a></li>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">french</a></li>
                                        <li><a href="#">german</a></li>
                                        <li><a href="#">spanish</a></li>
                                    </ul>
                                </li>
                                <!-- Header Currency -->
                                <li>
                                    <a class="header__link" href="#">
                                        <i class="icon fa-solid fa-dollar-sign"></i>
                                        usd
                                        <i class="icon fa-solid fa-angle-down"></i>
                                    </a>
                                    <ul class="header__sub-menu">
                                        <li><a href="#">usd</a></li>
                                        <li><a href="#">uero</a></li>
                                        <li><a href="#">taka</a></li>
                                        <li><a href="#">pound</a></li>
                                        <li><a href="#">rupi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- menu -->
                        <div class="col-sm-6 col-xs-4 header__top-controll">
                            <ul class="header__top-menu-list">
                                <li class="header__top-menu-item">
                                    <a href="#" class="header__top-menu-link">
                                        my account
                                        <i class="icon fa-solid fa-angle-down"></i>
                                    </a>
                                    <ul class="header__sub-menu">
                                        <li><a href="#">my cart</a></li>
                                        <li><a href="#">infomation</a></li>
                                    </ul>
                                </li>
                                <li class="header__top-menu-item">
                                    <a href="#" class="header__top-menu-link">
                                        login
                                        <i class="icon fa-solid fa-angle-down"></i>
                                    </a>
                                    <div class="header__sub-menu login">
                                        <h5>login or register</h5>
                                        <div class="header__log">
                                            <a href="./login.html" class="header__log-btn btn-login">Login</a>
                                            <h3>OR</h3>
                                            <a href="./register.html" class="header__log-btn btn-register">register</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="header__top-menu-list cart">
                                <li class="header__top-menu-item">
                                    <a href="./cart.html" class="header__top-menu-link">
                                        <i class="fa-brands fa-opencart"></i>
                                    </a>
                                    <ul class="header__sub-menu">
                                        <li>
                                            <a href="./cart.html" class="cart__item-menu-link">
                                                <img src="./images/mini-cart/1.jpg" class="cart__mini" alt="">
                                                <div class="cart__item-menu-list">
                                                    <h5 class="">Women’s winter dress</h5>
                                                    <span class="">1x$45.00</span>
                                                    <button class="cart__remove-btn">
                                                        <i class="icon fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./cart.html" class="cart__item-menu-link">
                                                <img src="./images/mini-cart/1.jpg" class="cart__mini" alt="">
                                                <div class="cart__item-menu-list">
                                                    <h5 class="">Women’s winter dress</h5>
                                                    <span class="">1x$45.00</span>
                                                    <button class="cart__remove-btn">
                                                        <i class="icon fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- header - bottom -->
            <div class="header__bottom">
                <div class="container">
                    <div class="row">
                        <!-- menu -->
                        <div class="header__menu-bottom">
                            <!-- logo -->
                            <a class="col-sm-2 logo__shop">
                                <img src="./images/logo-3.png" alt="" class="logo__shop-img">
                            </a>
                            <ul class="col-lg-8 header__menu-bottom-list">
                                <li><a class="header__menu-bottom-link" href="#">Home</a></li>
                                <li>
                                    <a class="header__menu-bottom-link" href="#">
                                        Shop
                                    </a>
                                </li>
                                <li><a class="header__menu-bottom-link" href="#">contact</a></li>
                            </ul>
                            <!-- search -->
                            <div class="col-sm-8 col-lg-2 header__search">
                                <form action="" method="post" class="header__search-form">
                                    <input type="search" name="search__products" class="header__search-input"
                                        placeholder="Search ....">
                                    <button class="header__search-btn">
                                        <i class="icon fa-solid fa-search"></i>
                                    </button>
                                </form>
                            </div>

                            <!-- menu mobile tablet -->
                            <div class="col-sm-2 header__menu-responsive">
                                <div class="header__menu-responsive-btn">
                                    <i class="icon fa-solid fa-bars"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- menu mega click -->
        <div class="header__menu-responsive-list active">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header__menu-responsive-item">
                        <a class="header__menu-responsive-link" href="#">Home</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="header__menu-responsive-item">
                        <a class="header__menu-responsive-link" href="#">
                            Shop
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="header__menu-responsive-item">
                        <a class="header__menu-responsive-link" href="#">contact</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="header__menu-responsive-item-cart">
                        <a class="header__menu-responsive-link" href="#">My Bad</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- =========== body ============ -->
    <div class="detail__container">
        <div class="detail__wrap-box">
            <!-- Detail Product -->
            <div class="detail__product-view">
                <!-- Product Image -->
                <div class="detail__product-image">
                    <img src="../layout/images/mini-cart/1.jpg" alt="">
                </div>
                <!-- Product Content -->
                <div class="detail__product-content">
                    <!-- Product Title -->
                    <a href="#" class="detail__product-title">FULL SLEEV WOMEN SHIRT</a>
                    <!-- Product Price -->
                    <div class="detail__product-price">
                        <div class="detail__product-wrap-price">
                            <!-- New Price -->
                            <span class="detail__product-price-new">$ 45.00</span>
                            <!-- Old Price -->
                            <span class="detail__product-price-old">(145.00)</span>
                        </div>
                    </div>
                    <!-- Product Overview -->
                    <div class="detail__product-overview">
                        <h5>overview:</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem portul indunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <!-- Product Size -->
                    <div class="detail__product-size">
                        <h5>Size:</h5>
                        <a href="#">S</a>
                        <a href="#">M</a>
                        <a href="#">L</a>
                        <a href="#">XL</a>
                        <a href="#">XXL</a>
                    </div>
                    <!-- Product Color + Quantity -->
                    <form action="">
                    <div class="detail__product-color-quantity">
                        <!-- Color -->
                        <div class="detail__product-color">
                            <h5>COLOR:</h5>
                            <div class="detail__product-wrap-color">
                                <a style="background-color: rgba(255, 172, 154, 1);" href="#" class="detail__product-color-active">color 1</a>
                                <a style="background-color: rgba(255, 64, 129, 1);" href="#">color 2</a>
                                <a style="background-color: rgb(0, 0, 0);"" href="#">color 3</a>
                            </div>
                        </div>
                            <!-- Product Quantity -->
                            <div class="detail__product-quantity">
                                <h5>QUANTITY:</h5>
                                <div class="detail__product-wrap-quantity">
                                    <!-- Input Quantity -->
                                    <input type="text" value="0" name="quantity" class="detail_product-input-plus-minus">
                                    
                                    <!-- Increase -->
                                    <span class="detail__product-inc btnqty">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </span>
        
                                    <!-- Decrease -->
                                    <span class="detail__product-dec btnqty">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </div>
                            </div>    
                        </div>
                        <!-- Product Action -->
                        <div class="detail__product-action">
                            <button name="btn_add" class="detail__product-action-btn btn-text">ADD TO BAG</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Reviews + Description -->
            <div class="detail__reviews-description">
                <!-- Tab list -->
                <ul class="detail__tablist-container">
                    <li class="active">
                        <a href="#" >Reviews</a>
                    </li>
                    <li>
                        <a href="#">Description</a>
                    </li>
                </ul>

                <!-- Reviews -->
                <div class="detail__reviews">
                    <div class="detail__product-avg-ratting">
                        <h4>4.5 <span>(overall)</span></h4>
                        <span>Based on 9 Comments</span>
                    </div>
                    <!-- View Comment -->
                    <div class="detail__product-comment-box">
                        <!-- Item -->
                        <div class="detail__product-comment-view">
                            <div class="detail__product-comment-view-info">
                                <div class="detail__product-comment-author">
                                    <span>Nguyễn Quang Đăng</span>
                                </div>
                                <div class="detail__product-comment-time">
                                    <span>12:24</span>
                                    <span>5 March 2016</span>
                                </div>
                            </div>
                            <p class="detail__product-comment-view-title">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.
                            </p>
                        </div>
                        <!-- Item -->
                        <div class="detail__product-comment-view">
                            <div class="detail__product-comment-view-info">
                                <div class="detail__product-comment-author">
                                    <span>Nguyễn Quang Đăng</span>
                                </div>
                                <div class="detail__product-comment-time">
                                    <span>12:24</span>
                                    <span>5 March 2016</span>
                                </div>
                            </div>
                            <p class="detail__product-comment-view-title">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.
                            </p>
                        </div>
                        <!-- Item -->
                        <div class="detail__product-comment-view">
                            <div class="detail__product-comment-view-info">
                                <div class="detail__product-comment-author">
                                    <span>Nguyễn Quang Đăng</span>
                                </div>
                                <div class="detail__product-comment-time">
                                    <span>12:24</span>
                                    <span>5 March 2016</span>
                                </div>
                            </div>
                            <p class="detail__product-comment-view-title">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.
                            </p>
                        </div>
                    </div>
                    <!-- Form Comment -->
                    <div class="detail__comment-form-wrap-box">
                        <h3>ADD YOUR COMMENTS</h3>
                        <form action="#" class="detail__comment-form-action">
                            <!-- Imput Name -->
                            <div class="input-name-box">
                                <label for="name">Name:</label>
                                <input type="text" name="name" value="" placeholder="Type your name">
                            </div>
                            <!-- Input Email -->
                            <div class="input-email-box">
                                <label for="email">Email:</label>
                                <input type="email" name="email" value="" placeholder="Type your email address">
                            </div>
                            <!-- Textarea Comment -->
                            <div class="input-comment-box">
                                <label for="comment">Your comment:</label>
                                <textarea name="" id="" cols="30" rows="10" placeholder="White a comment"></textarea>
                            </div>
                            <!-- Button Submit -->
                            <div class="input-btnsubmit-box">
                                <button type="submit" name="btn_submit">ADD COMMENT</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Description -->
                <div class="detail__description">
                    <!-- Title -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br><br>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
        </div>
        <!-- Suggested Products -->
        <div class="detail__suggested-products">
            <div class="detail__wrap-box">
                <h1>SUGGESTED PODUCTS</h1>
                <!-- Slider Product -->
                <div class="detail__product-slider">
                    <!-- Item -->
                    <div class="detail__product-item">
                        <!-- Item Image + Action -->
                        <div class="detail__wrap-item">
                            <!-- Item Image -->
                            <div class="detail__item-image">
                                <a href="#">
                                    <img src="./images/mini-cart/1.jpg" alt="">
                                </a>
                            </div>
                            <!-- Item new -->
                            <!-- <span>new</span> -->
                            <!-- View Detail -->
                            <a href="#" class="detail__view-detail">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                            <!-- Action -->
                            <div class="detail__item-action">
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-text">
                                    add to bag
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </button></a>
                            </div>
                        </div>
                        <!-- Detail Item -->
                        <div class="detail__item-detail">
                            <!-- Item title -->
                            <a href="#" class="detail__item-title">
                                Women’s winter dress
                            </a>
                            <!-- Price New -->
                            <span class="detail__item-price new">
                                $ 85.00
                            </span>
                            <!-- Price Old -->
                            <span class="detail__item-price old">
                                145.00
                            </span>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="detail__product-item">
                        <!-- Item Image + Action -->
                        <div class="detail__wrap-item">
                            <!-- Item Image -->
                            <div class="detail__item-image">
                                <a href="#">
                                    <img src="./images/mini-cart/2.jpg" alt="">
                                </a>
                            </div>
                            <!-- Item new -->
                            <span>new</span>
                            <!-- View Detail -->
                            <a href="#" class="detail__view-detail">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                            <!-- Action -->
                            <div class="detail__item-action">
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-text">
                                    add to bag
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </button></a>
                            </div>
                        </div>
                        <!-- Detail Item -->
                        <div class="detail__item-detail">
                            <!-- Item title -->
                            <a href="#" class="detail__item-title">
                                Full sleev women shirt
                            </a>
                            <!-- Price New -->
                            <span class="detail__item-price new">
                                $ 85.00
                            </span>
                            <!-- Price Old -->
                            <span class="detail__item-price old">
                                145.00
                            </span>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="detail__product-item">
                        <!-- Item Image + Action -->
                        <div class="detail__wrap-item">
                            <!-- Item Image -->
                            <div class="detail__item-image">
                                <a href="#">
                                    <img src="./images/mini-cart/3.jpg" alt="">
                                </a>
                            </div>
                            <!-- Item new -->
                            <!-- <span>new</span> -->
                            <!-- View Detail -->
                            <a href="#" class="detail__view-detail">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                            <!-- Action -->
                            <div class="detail__item-action">
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-text">
                                    add to bag
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </button></a>
                            </div>
                        </div>
                        <!-- Detail Item -->
                        <div class="detail__item-detail">
                            <!-- Item title -->
                            <a href="#" class="detail__item-title">
                                Loafers Men's shoes
                            </a>
                            <!-- Price New -->
                            <span class="detail__item-price new">
                                $ 45.00
                            </span>
                            <!-- Price Old -->
                            <!-- <span class="detail__item-price old">
                            </span> -->
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="detail__product-item">
                        <!-- Item Image + Action -->
                        <div class="detail__wrap-item">
                            <!-- Item Image -->
                            <div class="detail__item-image">
                                <a href="#">
                                    <img src="./images/mini-cart/4.jpg" alt="">
                                </a>
                            </div>
                            <!-- Item new -->
                            <span>new</span>
                            <!-- View Detail -->
                            <a href="#" class="detail__view-detail">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                            <!-- Action -->
                            <div class="detail__item-action">
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-text">
                                    add to bag
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </button></a>
                            </div>
                        </div>
                        <!-- Detail Item -->
                        <div class="detail__item-detail">
                            <!-- Item title -->
                            <a href="#" class="detail__item-title">
                                Full sleev women shirt
                            </a>
                            <!-- Price New -->
                            <span class="detail__item-price new">
                                $ 85.00
                            </span>
                            <!-- Price Old -->
                            <!-- <span class="detail__item-price old">
                            </span> -->
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="detail__product-item">
                        <!-- Item Image + Action -->
                        <div class="detail__wrap-item">
                            <!-- Item Image -->
                            <div class="detail__item-image">
                                <a href="#">
                                    <img src="./images/mini-cart/1.jpg" alt="">
                                </a>
                            </div>
                            <!-- Item new -->
                            <!-- <span>new</span> -->
                            <!-- View Detail -->
                            <a href="#" class="detail__view-detail">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                            <!-- Action -->
                            <div class="detail__item-action">
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-text">
                                    add to bag
                                </button></a>
                                <a href="#"><button class="detail__item-action-btn btn-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </button></a>
                            </div>
                        </div>
                        <!-- Detail Item -->
                        <div class="detail__item-detail">
                            <!-- Item title -->
                            <a href="#" class="detail__item-title">
                                Full sleev women shirt
                            </a>
                            <!-- Price New -->
                            <span class="detail__item-price new">
                                $ 85.00
                            </span>
                            <!-- Price Old -->
                            <span class="detail__item-price old">
                                145.00
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
        <!-- =========== footer =========== -->
        <div class="footer__container">
            <!-- footer brands -->
            <div class="container">
                <div class="row footer__brands">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/1.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/2.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/3.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/4.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/5.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/6.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/7.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/8.png" alt="" class="footer__brand-img">
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__brands-item">
                        <img src="images/brands/9.png" alt="" class="footer__brand-img">
                    </div>
                </div>
            </div>

            <!-- infomation footer -->
            <div class="footer__info">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 footer__info-item">
                            <img src="./images/logo-2.png" alt="" class="footer__info-img">
                            <ul class="footer__info-list">
                                <li class="footer__info-info">
                                    <span class="footer__info-title info">address:
                                    </span>
                                    <span class="footer__info-desc">Trường Cao đẳng FPT Polytechnic, Tòa nhà FPT
                                        Polytechnic,
                                        P.
                                        Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội, Việt Nam</span>
                                </li>
                                <li class="footer__info-info">
                                    <span class="footer__info-title info">Telephone:
                                    </span>
                                    <span class="footer__info-desc">+8446937769</span>
                                </li>
                                <li class="footer__info-info">
                                    <span class="footer__info-title info">Email:
                                    </span>
                                    <span class="footer__info-desc">hungdtph23624@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 footer__info-item">
                            <h2 class="footer__info-title">services</h2>
                            <ul class="footer__info-list">
                                <li class="footer__info-info">
                                    <p class="footer__info-desc">About us</p>
                                    <p class="footer__info-desc">Return Policy</p>
                                    <p class="footer__info-desc">Our Blog</p>
                                    <p class="footer__info-desc">Contact us</p>
                                    <p class="footer__info-desc">Terms & Condition</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 footer__info-item">
                            <h2 class="footer__info-title">account</h2>
                            <ul class="footer__info-list">
                                <li class="footer__info-info">
                                    <p class="footer__info-desc">Your Account</p>
                                    <p class="footer__info-desc">Checkout</p>
                                    <p class="footer__info-desc">Login</p>
                                    <p class="footer__info-desc">Register</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- jquey -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- slick slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- boostrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

<!-- javascript -->
<script src="javascript/slick-slider.js"></script>
<script src="javascript/main.js"></script>
<script src="javascript/detail.js"></script>

</html>